.home {
  padding: 20px;
}

.postsList {
  display: flex;
  flex-direction: column;
}
.home {
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filters select {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  color: #ccc;
}

.filters select:focus {
  border-color: #4a4a4a;
  outline: none;
}

.noPostsMessage {
  font-weight: 600;
  font-size: 26px;
  color: #ccc;
  text-align: center;
  width: 100%;
}