/* Home.css */

.home {
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 2.5em;
    font-weight: bold;
    color: #f0f0f0;
  }
  
  .subtitle {
    margin-top: 20px;
    font-size: 1.2em;
    color: #aeaeae;
  }
  
  .explore {
    margin: 20px;
    width: 100px;
    padding: 10px;
    background-color: #da4ea2;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .explore:hover {
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: #a23b79; 
  }
  